html {
  box-sizing: border-box;
  height: 100%
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Import font of use */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #7a7780;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23cdc5d9' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: center;
}


.header {
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  border-bottom: 2px solid rgba(0, 0, 0, .4);
}
.header a {
  margin: 1em;
  text-decoration: none;
  color: seashell;
}

.headLinks {
  display: flex;
  justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.body-area{
  height: 100%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: url('/src/images/headshot.jpg'); */
  /* Set a specific height */
  width: 100%;
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 10%;
}
.headshotImage{
  content:url('../images/headshot.jpg');
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .8);
}

/* Place text in the middle of the image */
.hero-text {
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.hero-text h1, .hero-text p {
  margin: 0;
}

.about-me p {
  color: antiquewhite;
  margin: 0 10px;
  margin-bottom: 10%;
}

.project-area{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: white;
}
.project-area h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

.project-area div {
  width: 100%;
  margin-bottom: 4%;
}

.project-area div img {
  width: 100%;
}


.githubLink {
  color: white;
  background-color: rgba(0, 0, 0, .8);
  outline: 1px solid white;
}

.githubLink a {
  text-decoration: none;
  color: white;
}

.contactInfo{
  outline: 1px solid blueviolet;
  margin-top: -30%;
}
.bridgeMural {
  height: 100%;
  width: 100%;
  outline: rgba(0, 0, 0, .4);
}

/* NEXT MEDIA SIZE  */
@media screen and (min-width: 450px){
  /* hover function for large sizes */
.githubLink{
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  color: whitesmoke;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
  margin-top: -30%;
}

.project-area div:hover  .githubLink {
  opacity: .9;
  transition: opacity .5s;
}

.hero-text{
  width: 80%;
}
.headshotImage{
  content:url('../images/expandedheadshot.jpg');
  border-radius: 0%;
  width: 80%;
  margin: 0 10%;
}

.project-area div {
  width: 80%;
}
}